language: java
sudo: required

jdk:
  - openjdk7
  - oraclejdk8

env:
  - MAVEN_OPTS="-Xmx6g -Xms2g"

# only build master and the MATH_3_X branch
branches:
  only:
    - develop
    - master
    - MATH_3_X

after_success:
  - mvn clean test jacoco:report coveralls:report
