<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: commons-math3
    Description: none
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <property name="localeLanguage" value="en"/>
  <module name="TreeWalker">
    <property name="cacheFile" value="target/checkstyle-cachefile"/>
    <module name="FileContentsHolder"/>
    <module name="OperatorWrap">
      <property name="option" value="eol"/>
    </module>
    <module name="NeedBraces"/>
    <module name="InterfaceIsType"/>
    <module name="JavadocType">
      <property name="versionFormat" value="\$Id.*\$"/>
    </module>
    <module name="JavadocMethod">
      <property name="allowUndeclaredRTE" value="true"/>
    </module>
    <module name="JavadocVariable"/>
    <module name="VisibilityModifier">
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="EqualsHashCode"/>
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean, java.lang.String"/>
    </module>
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="IllegalImport"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="FallThrough"/>
    <module name="MissingSwitchDefault"/>
    <module name="ConstantName"/>
    <module name="HiddenField">
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="Regexp">
      <property name="format" value="[ \t]+$"/>
      <property name="message" value="Trailing whitespace"/>
      <property name="illegalPattern" value="true"/>
    </module>
    <module name="Regexp">
      <property name="format" value="System\.out\.println"/>
      <property name="illegalPattern" value="true"/>
    </module>
    <module name="Regexp">
      <property name="format" value="@author"/>
      <property name="message" value="developers names should be in pom file"/>
      <property name="illegalPattern" value="true"/>
    </module>
    <module name="RedundantModifier"/>
    <module name="ModifierOrder"/>
    <module name="DeclarationOrder"/>
    <module name="UnnecessaryParentheses"/>
    <module name="IllegalCatch"/>
    <module name="StringLiteralEquality"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="MultipleStringLiterals">
      <property name="ignoreStringsRegexp" value="^((&quot;&quot;)|(&quot;.&quot;)|(&quot;unchecked&quot;))$"/>
    </module>
    <module name="LineLength"/>
  </module>
  <module name="Header">
    <property name="headerFile" value="${checkstyle.header.file}"/>
  </module>
  <module name="FileTabCharacter"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="JavadocPackage"/>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop JavadocVariable"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume JavadocVariable"/>
    <property name="checkFormat" value="JavadocVariable"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop JavadocMethodCheck"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume JavadocMethodCheck"/>
    <property name="checkFormat" value="JavadocMethodCheck"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop ConstantName"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume ConstantName"/>
    <property name="checkFormat" value="ConstantName"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop HideUtilityClassConstructor"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume HideUtilityClassConstructor"/>
    <property name="checkFormat" value="HideUtilityClassConstructor"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop MultipleVariableDeclarations"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume MultipleVariableDeclarations"/>
    <property name="checkFormat" value="MultipleVariableDeclarations"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop IllegalCatch"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume IllegalCatch"/>
    <property name="checkFormat" value="IllegalCatch"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop DeclarationOrder"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume DeclarationOrder"/>
    <property name="checkFormat" value="DeclarationOrder"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\: stop all"/>
    <property name="onCommentFormat" value="CHECKSTYLE\: resume all"/>
  </module>
</module>
